<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment(title)">
		<title th:text="${title}">Fragment</title>
		<link href="/css/jquery.dataTables.min.css" rel="stylesheet" />	
</head>

<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">SI Kemahasiswaan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/mahasiswa/tambah">Tambah Mahasiswa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/student/add">Kelulusan Mahasiswa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/student/add">Cari Mahasiswa</a>
				</li>
			</ul>
		</div>
		</nav>
	</div>
	
	<div th:fragment="footer">
		<hr/>
		<h4>Mata Kuliah APAP</h4>
	</div>
</body>
</html>